HOST: http://www.google.com/

--- REST API pro hotel Avanti ---

---
Testovací REST API pro hotel Avanti. REST je ve formátu OData.
---


-- Routes requests --

<b>TODO opravit neco</b> <br>
Vrátí pageconfig pro úvod
GET /_/route/v1/?q=/
< 200
< Content-Type: application/json
{ "d": {
    "results": [
        {"params": "^/(?P<categorySlug>[^/]+)/$", 
        "layout": " <div id=\"mask-all\">        <div id=\"mask-top\">            <a  href=\"./#!\" title=\"Hotel Avanti\" onmouseover=\"  savestatus = window.status; window.status = 'Hotel Avanti'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\"  class=\"logo\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-hotel-avanti.png\" alt=\"Hotel Avanti , klikněte pro návrat na hlavní stránku\"></a>            <div id=\"mask-lang\">                <a class=\"cz active\" href=\"http://brno-hotel.hotelavanti.cz/\" title=\"CZ\"></a>                <a class=\"en\" href=\"http://www.brno-hotel-avanti.eu/\" title=\"EN\"></a>                <a class=\"de\" href=\"http://www.hotel-avanti.de/\" title=\"DE\"></a>                <a class=\"ru\" href=\"http://www.hotel-avanti.ru/\" title=\"RU\"></a>            </div>            <div id=\"mask-moduls\">                <a class=\"links link-home\"  href=\"?typ=HAA\" title=\"Hotel Avanti\" onmouseover=\"  savestatus = window.status; window.status = 'Hotel Avanti'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Hotel Avanti , klikněte pro návrat na hlavní stránku</span></a>                <a class=\"links link-hotline\"  href=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" title=\"Rezervace ubytování ON-LINE\" onmouseover=\"  savestatus = window.status; window.status = 'Rezervace ubytování ON-LINE'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Rezervace ubytování ON-LINE</span></a>                <a class=\"links link-webmap\"  href=\"http://brno-hotel.hotelavanti.cz/mapa-webu/\" title=\"Mapa webu\" onmouseover=\"  savestatus = window.status; window.status = 'Mapa webu'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Mapa webu</span></a>            </div>            <div id=\"menu\" class=\"top\">                         </div>            <br class=\"cleaner\">            <ul id=\"menu-left\"><li><a class=\"mnormal\" onmouseover=\"self.status='Ubytování'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://ubytovani-brno.hotelavanti.cz/\">Ubytování</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Konferenční prostory'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/konferencni-centrum/\">Konferenční prostory</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Bowling a Wellness'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/bowling-a-wellness/\">Bowling a Wellness</a></li><li class=\"last\"><a class=\"mnormal\" onmouseover=\"self.status='Gastronomie'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/gastronomie/\">Gastronomie</a></li></ul>            <div id=\"slider-top\">  <div id=\"slider-top-shine\"></div>  <div class=\"slider-content\">    <div class=\"slides\">         <div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-01.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-02.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-03.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-04.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-05.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-06.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-07.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-08.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-09.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-10.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-11.jpg\" alt=\"homepage\"></div></div>    </div>  </div>    <div class=\"cleaner\"></div>     </div>                    </div>        </div>        <div id=\"mask-middle3\">        <div id=\"mask-middle\">          <div id=\"mask-middle2\">                         <div id=\"mask-left\">                <div class=\"mask-column-reservation side-box\"><a href=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" title=\"Rezervace ubytování ON-LINE\" onmouseover=\"  savestatus = window.status; window.status = 'Rezervace ubytování ON-LINE'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><strong class=\"strong-title\">On-line rezervace</strong></a><div class=\"article-wrap\"></div>                <form action=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" method=\"post\">                    <input name=\"obkId\" type=\"hidden\" value=\"68673\" />                                        <div class=\"left-col\">                        <label for=\"form-prijezd\">Příjezd</label><input name=\"dateFrom\" class=\"datepicker from \" id=\"form-prijezd\" type=\"text\" />                                            </div>                    <div class=\"right-col\">                        <label for=\"form-odjezd\">Odjezd</label><input name=\"dateTo\" class=\"datepicker to \" id=\"form-odjezd\" type=\"text\" />                    </div>                                        <input type=\"submit\" name=\"checkAvaibility\" value=\"Ověřit dostupnost\" />                                        <br class=\"cleaner\">                                    </form>           </div><strong class=\"title-new\">O&nbsp;hotelu</strong><div id=\"menu-left-bottom\"><ul class=\"makeMenu\"><li class=\"active-item\"><a class=\"active-item\" onmouseover=\"self.status='Hotel AVANTI'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/hotel-avanti/\">Hotel AVANTI</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Poloha Hotelu v Brně'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/poloha-hotelu-v-brne/\">Poloha Hotelu v Brně</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Aktuálně'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"#!/o-hotelu/aktualne/\">Aktuálně</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Projekty EU'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/projekty-eu/\">Projekty EU</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Názory klientů z booking.com'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/nazory-klientu-z-booking-com/\">Názory klientů z booking.com</a></li><li class=\"normal-item last\"><a onmouseover=\"self.status='Pro partnery'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/pro-partnery/\">Pro partnery</a></li></ul></div>&nbsp;<a  href=\"http://ubytovani-brno.hotelavanti.cz/akcni-ceny-ubytovani/\" title=\"Akční ceny ubytování\" onmouseover=\"  savestatus = window.status; window.status = 'Akční ceny ubytování'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\"  id=\"lastminute-new\">    <strong>Akční ceny</strong><br>ubytování<br>od 1 050 Kč</a><div id=\"mask-hotelstars-left\">                        <a href=\"http://www.hotelstars.cz\" title=\"www.hotelstars.cz\" target=\"_blank\">                            <img alt=\"logo Standard 4*\" src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-4star.gif\">                        </a>                        <a href=\"http://www.conventia.cz/planovane-akce/czech-hotel-awards/\" title=\"Czech Hotel Awards 2012 - nominovaný hotel\" target=\"_blank\">                            <img alt=\"Czech Hotel Awards 2012 - nominovaný hotel\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/czech-hotel-awards-2012-nominace.gif\">                        </a>                        <!--div id=\"hotelcz-doporuceni\">                            <a href=\"http://avanti.hotel.cz/\" target=\"_blank\" title=\"AVANTI Hotel - ubytování Brno\" class=\"hotelcz-doporuceni-title\">AVANTI Hotel</a>                            <a href=\"http://www.hotel.cz/brno/\"  target=\"_blank\" title=\"Rezervační systém ubytování pro Brno\" class=\"hotelcz-doporuceni-link\">ubytování Brno</a>                            <img src=\"http://www.hotel.cz/files/reviewimage.php?seo=avanti\" class=\"hotelcz-doporuceni-review\" alt=\"Kvalita ubytování AVANTI Hotel, Brno\" title=\"Hodnocení kvality ubytování a hotelu AVANTI Hotel zákazníky HOTEL.CZ\"/>                        </div-->                        <a href=\"http://www.hotel-atlantis.cz/\" title=\"Spolupracujeme - Hotel Atlantis\" target=\"_blank\">                            <img alt=\"Spolupracujeme - Hotel Atlantis\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/spolupracujeme-hotel-atlantis.png\">                        </a>                    </div>                    </div>                        <div id=\"mask-right\">                <div id=\"slider-advantage\">  <strong class=\"title\">Proč Avanti?</strong>  <div class=\"slider-content\">    <div class=\"slides\">              <div>Parkování u&nbsp;hotelu pro ubytované hosty&nbsp;ZDARMA </div>     <div>10% sleva v&nbsp;restauraci </div>     <div>Wifi, nebo&nbsp;pevné přípojení k internetu ZDARMA&nbsp; </div>     <div>Veřejné wellness pro ubytované ZDARMA<br></div>       </div>  </div>    <div class=\"cleaner\"></div>     </div><div id=\"mask-home\">                                                                                                                                                                                       <div id=\"mask-article\" class=\"home\"></div>    <div id=\"mask-home-right\">            <strong class='news title-new'>Aktuálně</strong><div id='mod-news-home'><div class='item'><h2><a href='#!/o-hotelu/aktualne/family-balicek-a2544515'>Family balíček</a></h2>                              <div class='mod-news-body'>Nevíte kam s rodinou na prázdniny? Máme pro Vás skvělý tip! Využijte našeho Family balíčku a dopřejte si odpočinek s celou Vaší rodinou v hotelu Avanti.Family balíč&hellip;</div></div><div class='item'><h2><a href='#!/o-hotelu/aktualne/chlazene-pokoje-a2540574'>chlazené pokoje</a></h2>                              <div class='mod-news-body'>Léto je tady !!!  Hotel Avanti bude mít od středy 19.6.2013 všechny pokoje chlazené, přijďte nejen v horkých dnech do hotelu Avanti v Brně a nastavte si teplotu na s&hellip;</div></div></div>                            </div>    <br class=\"cleaner\">    </div>                <div class=\"cleaner\"></div>                            </div>                        <div class=\"cleaner\"></div>            <div id=\"footer-top\">                 <div class=\"foot-cont\"><p>© <strong>Hotel Avanti</strong> 2010, Střední 61, 602 00 Brno, <strong>Tel:</strong> +420 541 510 111, 211, <strong>E-mail:</strong> <a href=\"mailto:hotel@hotelavanti.cz\">hotel@hotelavanti.cz</a></p></div><ul id=\"menu-bottom\"><li><a class=\"mnormal\" onmouseover=\"self.status='Ubytování Brno Hotely'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://ubytovani-brno.hotelavanti.cz/\">Ubytování Brno Hotely</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Konferenční prostory'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/konferencni-centrum/\">Konferenční prostory</a></li><li class=\"last\"><a class=\"mnormal\" onmouseover=\"self.status='Gastronomie, restaurace'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/gastronomie/\">Gastronomie, restaurace</a></li></ul>                 </div>                          </div>        </div>        </div>              <div id=\"mask-footer\">        <div id=\"mask-footer-content\">        <div id=\"mask-cofinancing\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\"> <tbody>  <tr>    <td width=\"230\"><img alt=\"Logo ČR\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-cz-small.gif\"> <a href=\"http://www.strukturalni-fondy.cz/\" target=\"_blank\"><img border=\"0\" alt=\"Logo EU\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-eu-small.gif\"></a> <a href=\"http://www.kr-jihomoravsky.cz/\" target=\"_blank\"><img border=\"0\" alt=\"Logo Jihomoravský kraj\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-jm-kraj-small.gif\"></a> </td>    <td>Spolufinancovánom Evropskou unií    <br>a Jihomoravským krajem </td>    <td width=\"260\"><img border=\"0\" alt=\"eu projekt\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/loga/eu-projekt.gif\"></td>  </tr></tbody></table></div><br class=\"cleaner\"><span class=\"powered-by-text-all\">Provozováno na <a href=\"http://www.magnetpro.cz/\" class=\"powered-by-link\" target=\"_blank\" title=\"MagnetPro - stránky, které prodávají\"><span class=\"powered-by-text-magnet\">m@gnet</span><span class=\"powered-by-text-pro\">pro</span></a></span><br class=\"cleaner\"><div id=\"mask-bottom-links\"><a href=\"http://brno-hotel.hotelavanti.cz/pro-partnery/\" title=\"\">Pro partnery</a> | <a href=\"http://brno-hotel.hotelavanti.cz/katalog-firem/\" title=\"\">Katalog firem</a> | <a href=\"http://www.alkatravel.cz/\" title=\"Chaty a chalupy k pronajmutí\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Chaty a chalupy</a> <a href=\"http://www.rajpradla.cz/plavky\" title=\"Plavky\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Plavky</a> <a href=\"http://www.aba-pneu.cz\" title=\"Pneumatiky ABA\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Pneumatiky ABA</a> <a href=\"http://www.fitness.cz/\" title=\"Posilovací stroje\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Posilovací stroje</a> <a href=\"http://www.fragment.cz/\" title=\"Knihkupectví\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Knihkupectví</a> <a href=\"http://www.rh-centrum.cz/\" title=\"Byty na prodej\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Byty na prodej</a> </div>        <div id=\"hotel-socials\">            <a href=\"http://www.facebook.com/hotelavanti\" id=\"hotel-facebook\" target=\"_blank\"><span>Facebook - Hotel Avanti</span></a>            <a href=\"http://foursquare.com/v/avanti-hotel-brno/4bcc5d40aeaaeee1eeee3d6d\" id=\"hotel-foursquare\" target=\"_blank\"><span>Foursquare - Hotel Avanti</span></a>            <a href=\"http://www.tripadvisor.com/Hotel_Review-g274714-d634401-Reviews-Avanti_Hotel-Brno_South_Moravian_Region_Moravia.html\" id=\"hotel-tripadvisor\" target=\"_blank\"><span>Tripadvisor - Hotel Avanti</span></a>        </div>        <a href=\"http://www.ahrcr.cz/\" title=\"Asociace hotelů a restaurací České republiky\" id=\"logo-ahcr\" target=\"_blank\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-ahcr.gif\" alt=\"Asociace hotelů a restaurací České republiky\"></a>    <a href=\"http://www.payu.cz/\" title=\"PayU - bezpečné a rychhhlé platby\" id=\"logo-payu\" target=\"_blank\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-payu.png\" alt=\"PayU - bezpečné a rychhhlé platby\"></a>        </div>            </div>        <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/i18n/jquery.ui.datepicker-cs.js\"></script>    <script type='text/javascript' src='http://brno-hotel.hotelavanti.cz/js/_compiled_tail_libs.js?version=1'></script>        <!-- Start of Zopim Live Chat Script -->    <!--script type=\"text/javascript\">    // <![CDATA[    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=    z.s=d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o    ){z.set._.push(o)};$.setAttribute('charset','utf-8');$.async=!0;z.set.    _=[];$.src=('https:'==d.location.protocol?'https://ssl':'http://cdn')+    '.zopim.com/?003CPh1AKcEC8wJZ65dSUr9LLt1Vx3iV';$.type='text/java'+s;z.    t=+new Date;z._=[];e.parentNode.insertBefore($,e)})(document,'script')    // ]]>    </script-->    <!-- End of Zopim Live Chat Script -->        <div id=\"mask-statistic\"><script src=\"http://brno-hotel.hotelavanti.cz/sys.php?action=stat_js_prg\" type=\"text/javascript\"></script>    ", 
        "hash": "/", 
        "containers": {
                "div .top#menu": [
                    {"partial": "/odata-apiary-demo/static/core/partials/menu/menu.html", 
                    "refresh": false, 
                    "initialData": {"rootID": "50c06f70b16ddc1997053219"}, 
                    "dependencies": [], 
                    "renderCondition": "true", 
                    "id": "c1"}
                ],"#mask-article": [
                    {"partial": "/odata-apiary-demo/static/core/partials/article/article.html", 
                    "refresh": true, 
                    "initialData": {"articleID": "50c06f70b16ddc1997055219"}, 
                    "dependencies": [], 
                    "renderCondition": "true", 
                    "id": "c2"}
                ]
            }
        }]
    }
}

Vrátí pageconfig pro stranku o hotelu
GET /_/route/v1/?q=/o-hotelu
< 200
< Content-Type: application/json
{ "d": {
    "results": [
        {"params": "^/(?P<categorySlug>[^/]+)/$", 
        "layout": " <div id=\"mask-all\">        <div id=\"mask-top\">            <a  href=\"./#!\" title=\"Hotel Avanti\" onmouseover=\"  savestatus = window.status; window.status = 'Hotel Avanti'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\"  class=\"logo\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-hotel-avanti.png\" alt=\"Hotel Avanti , klikněte pro návrat na hlavní stránku\"></a>            <div id=\"mask-lang\">                <a class=\"cz active\" href=\"http://brno-hotel.hotelavanti.cz/\" title=\"CZ\"></a>                <a class=\"en\" href=\"http://www.brno-hotel-avanti.eu/\" title=\"EN\"></a>                <a class=\"de\" href=\"http://www.hotel-avanti.de/\" title=\"DE\"></a>                <a class=\"ru\" href=\"http://www.hotel-avanti.ru/\" title=\"RU\"></a>            </div>            <div id=\"mask-moduls\">                <a class=\"links link-home\"  href=\"?typ=HAA\" title=\"Hotel Avanti\" onmouseover=\"  savestatus = window.status; window.status = 'Hotel Avanti'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Hotel Avanti , klikněte pro návrat na hlavní stránku</span></a>                <a class=\"links link-hotline\"  href=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" title=\"Rezervace ubytování ON-LINE\" onmouseover=\"  savestatus = window.status; window.status = 'Rezervace ubytování ON-LINE'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Rezervace ubytování ON-LINE</span></a>                <a class=\"links link-webmap\"  href=\"http://brno-hotel.hotelavanti.cz/mapa-webu/\" title=\"Mapa webu\" onmouseover=\"  savestatus = window.status; window.status = 'Mapa webu'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Mapa webu</span></a>            </div>            <div id=\"menu\" class=\"top\">                        </div>            <br class=\"cleaner\">            <ul id=\"menu-left\"><li><a class=\"mnormal\" onmouseover=\"self.status='Ubytování'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://ubytovani-brno.hotelavanti.cz/\">Ubytování</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Konferenční prostory'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/konferencni-centrum/\">Konferenční prostory</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Bowling a Wellness'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/bowling-a-wellness/\">Bowling a Wellness</a></li><li class=\"last\"><a class=\"mnormal\" onmouseover=\"self.status='Gastronomie'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/gastronomie/\">Gastronomie</a></li></ul>            <div id=\"slider-top\">  <div id=\"slider-top-shine\"></div>  <div class=\"slider-content\">    <div class=\"slides\">         <div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-01.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-02.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-03.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-04.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-05.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-06.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-07.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-08.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-09.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-10.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-11.jpg\" alt=\"homepage\"></div></div>    </div>  </div>    <div class=\"cleaner\"></div>     </div>                    </div>        </div>        <div id=\"mask-middle3\">        <div id=\"mask-middle\">          <div id=\"mask-middle2\">                         <div id=\"mask-left\">                <div class=\"mask-column-reservation side-box\"><a href=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" title=\"Rezervace ubytování ON-LINE\" onmouseover=\"  savestatus = window.status; window.status = 'Rezervace ubytování ON-LINE'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><strong class=\"strong-title\">On-line rezervace</strong></a><div class=\"article-wrap\"></div>                <form action=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" method=\"post\">                    <input name=\"obkId\" type=\"hidden\" value=\"68673\" />                                        <div class=\"left-col\">                        <label for=\"form-prijezd\">Příjezd</label><input name=\"dateFrom\" class=\"datepicker from \" id=\"form-prijezd\" type=\"text\" />                                            </div>                    <div class=\"right-col\">                        <label for=\"form-odjezd\">Odjezd</label><input name=\"dateTo\" class=\"datepicker to \" id=\"form-odjezd\" type=\"text\" />                    </div>                                        <input type=\"submit\" name=\"checkAvaibility\" value=\"Ověřit dostupnost\" />                                        <br class=\"cleaner\">                                    </form>           </div><strong class=\"title-new\">O&nbsp;hotelu</strong><div id=\"menu-left-bottom\"><ul class=\"makeMenu\"><li class=\"active-item\"><a class=\"active-item\" onmouseover=\"self.status='Hotel AVANTI'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/hotel-avanti/\">Hotel AVANTI</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Poloha Hotelu v Brně'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/poloha-hotelu-v-brne/\">Poloha Hotelu v Brně</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Aktuálně'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"#!/o-hotelu/aktualne/\">Aktuálně</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Projekty EU'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/projekty-eu/\">Projekty EU</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Názory klientů z booking.com'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/nazory-klientu-z-booking-com/\">Názory klientů z booking.com</a></li><li class=\"normal-item last\"><a onmouseover=\"self.status='Pro partnery'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/pro-partnery/\">Pro partnery</a></li></ul></div>&nbsp;<a  href=\"http://ubytovani-brno.hotelavanti.cz/akcni-ceny-ubytovani/\" title=\"Akční ceny ubytování\" onmouseover=\"  savestatus = window.status; window.status = 'Akční ceny ubytování'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\"  id=\"lastminute-new\">    <strong>Akční ceny</strong><br>ubytování<br>od 1 050 Kč</a><div id=\"mask-hotelstars-left\">                        <a href=\"http://www.hotelstars.cz\" title=\"www.hotelstars.cz\" target=\"_blank\">                            <img alt=\"logo Standard 4*\" src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-4star.gif\">                        </a>                        <a href=\"http://www.conventia.cz/planovane-akce/czech-hotel-awards/\" title=\"Czech Hotel Awards 2012 - nominovaný hotel\" target=\"_blank\">                            <img alt=\"Czech Hotel Awards 2012 - nominovaný hotel\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/czech-hotel-awards-2012-nominace.gif\">                        </a>                        <!--div id=\"hotelcz-doporuceni\">                            <a href=\"http://avanti.hotel.cz/\" target=\"_blank\" title=\"AVANTI Hotel - ubytování Brno\" class=\"hotelcz-doporuceni-title\">AVANTI Hotel</a>                            <a href=\"http://www.hotel.cz/brno/\"  target=\"_blank\" title=\"Rezervační systém ubytování pro Brno\" class=\"hotelcz-doporuceni-link\">ubytování Brno</a>                            <img src=\"http://www.hotel.cz/files/reviewimage.php?seo=avanti\" class=\"hotelcz-doporuceni-review\" alt=\"Kvalita ubytování AVANTI Hotel, Brno\" title=\"Hodnocení kvality ubytování a hotelu AVANTI Hotel zákazníky HOTEL.CZ\"/>                        </div-->                        <a href=\"http://www.hotel-atlantis.cz/\" title=\"Spolupracujeme - Hotel Atlantis\" target=\"_blank\">                            <img alt=\"Spolupracujeme - Hotel Atlantis\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/spolupracujeme-hotel-atlantis.png\">                        </a>                    </div>                    </div>                        <div id=\"mask-right\">                <div id=\"slider-advantage\">  <strong class=\"title\">Proč Avanti?</strong>  <div class=\"slider-content\">    <div class=\"slides\">              <div>Parkování u&nbsp;hotelu pro ubytované hosty&nbsp;ZDARMA </div>     <div>10% sleva v&nbsp;restauraci </div>     <div>Wifi, nebo&nbsp;pevné přípojení k internetu ZDARMA&nbsp; </div>     <div>Veřejné wellness pro ubytované ZDARMA<br></div>       </div>  </div>    <div class=\"cleaner\"></div>     </div><div id=\"mask-home\">                                                                                                                                                                                       <div id=\"mask-article\" class=\"home\"></div>    <div id=\"mask-home-right\">            <strong class='news title-new'>Aktuálně</strong><div id='mod-news-home'><div class='item'><h2><a href='#!/o-hotelu/aktualne/family-balicek-a2544515'>Family balíček</a></h2>                              <div class='mod-news-body'>Nevíte kam s rodinou na prázdniny? Máme pro Vás skvělý tip! Využijte našeho Family balíčku a dopřejte si odpočinek s celou Vaší rodinou v hotelu Avanti.Family balíč&hellip;</div></div><div class='item'><h2><a href='#!/o-hotelu/aktualne/chlazene-pokoje-a2540574'>chlazené pokoje</a></h2>                              <div class='mod-news-body'>Léto je tady !!!  Hotel Avanti bude mít od středy 19.6.2013 všechny pokoje chlazené, přijďte nejen v horkých dnech do hotelu Avanti v Brně a nastavte si teplotu na s&hellip;</div></div></div>                            </div>    <br class=\"cleaner\">    </div>                <div class=\"cleaner\"></div>                            </div>                        <div class=\"cleaner\"></div>            <div id=\"footer-top\">                 <div class=\"foot-cont\"><p>© <strong>Hotel Avanti</strong> 2010, Střední 61, 602 00 Brno, <strong>Tel:</strong> +420 541 510 111, 211, <strong>E-mail:</strong> <a href=\"mailto:hotel@hotelavanti.cz\">hotel@hotelavanti.cz</a></p></div><ul id=\"menu-bottom\"><li><a class=\"mnormal\" onmouseover=\"self.status='Ubytování Brno Hotely'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://ubytovani-brno.hotelavanti.cz/\">Ubytování Brno Hotely</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Konferenční prostory'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/konferencni-centrum/\">Konferenční prostory</a></li><li class=\"last\"><a class=\"mnormal\" onmouseover=\"self.status='Gastronomie, restaurace'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/gastronomie/\">Gastronomie, restaurace</a></li></ul>                 </div>                          </div>        </div>        </div>              <div id=\"mask-footer\">        <div id=\"mask-footer-content\">        <div id=\"mask-cofinancing\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\"> <tbody>  <tr>    <td width=\"230\"><img alt=\"Logo ČR\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-cz-small.gif\"> <a href=\"http://www.strukturalni-fondy.cz/\" target=\"_blank\"><img border=\"0\" alt=\"Logo EU\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-eu-small.gif\"></a> <a href=\"http://www.kr-jihomoravsky.cz/\" target=\"_blank\"><img border=\"0\" alt=\"Logo Jihomoravský kraj\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-jm-kraj-small.gif\"></a> </td>    <td>Spolufinancovánom Evropskou unií    <br>a Jihomoravským krajem </td>    <td width=\"260\"><img border=\"0\" alt=\"eu projekt\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/loga/eu-projekt.gif\"></td>  </tr></tbody></table></div><br class=\"cleaner\"><span class=\"powered-by-text-all\">Provozováno na <a href=\"http://www.magnetpro.cz/\" class=\"powered-by-link\" target=\"_blank\" title=\"MagnetPro - stránky, které prodávají\"><span class=\"powered-by-text-magnet\">m@gnet</span><span class=\"powered-by-text-pro\">pro</span></a></span><br class=\"cleaner\"><div id=\"mask-bottom-links\"><a href=\"http://brno-hotel.hotelavanti.cz/pro-partnery/\" title=\"\">Pro partnery</a> | <a href=\"http://brno-hotel.hotelavanti.cz/katalog-firem/\" title=\"\">Katalog firem</a> | <a href=\"http://www.alkatravel.cz/\" title=\"Chaty a chalupy k pronajmutí\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Chaty a chalupy</a> <a href=\"http://www.rajpradla.cz/plavky\" title=\"Plavky\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Plavky</a> <a href=\"http://www.aba-pneu.cz\" title=\"Pneumatiky ABA\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Pneumatiky ABA</a> <a href=\"http://www.fitness.cz/\" title=\"Posilovací stroje\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Posilovací stroje</a> <a href=\"http://www.fragment.cz/\" title=\"Knihkupectví\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Knihkupectví</a> <a href=\"http://www.rh-centrum.cz/\" title=\"Byty na prodej\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Byty na prodej</a> </div>        <div id=\"hotel-socials\">            <a href=\"http://www.facebook.com/hotelavanti\" id=\"hotel-facebook\" target=\"_blank\"><span>Facebook - Hotel Avanti</span></a>            <a href=\"http://foursquare.com/v/avanti-hotel-brno/4bcc5d40aeaaeee1eeee3d6d\" id=\"hotel-foursquare\" target=\"_blank\"><span>Foursquare - Hotel Avanti</span></a>            <a href=\"http://www.tripadvisor.com/Hotel_Review-g274714-d634401-Reviews-Avanti_Hotel-Brno_South_Moravian_Region_Moravia.html\" id=\"hotel-tripadvisor\" target=\"_blank\"><span>Tripadvisor - Hotel Avanti</span></a>        </div>        <a href=\"http://www.ahrcr.cz/\" title=\"Asociace hotelů a restaurací České republiky\" id=\"logo-ahcr\" target=\"_blank\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-ahcr.gif\" alt=\"Asociace hotelů a restaurací České republiky\"></a>    <a href=\"http://www.payu.cz/\" title=\"PayU - bezpečné a rychhhlé platby\" id=\"logo-payu\" target=\"_blank\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-payu.png\" alt=\"PayU - bezpečné a rychhhlé platby\"></a>        </div>            </div>        <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/i18n/jquery.ui.datepicker-cs.js\"></script>    <script type='text/javascript' src='http://brno-hotel.hotelavanti.cz/js/_compiled_tail_libs.js?version=1'></script>        <!-- Start of Zopim Live Chat Script -->    <!--script type=\"text/javascript\">    // <![CDATA[    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=    z.s=d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o    ){z.set._.push(o)};$.setAttribute('charset','utf-8');$.async=!0;z.set.    _=[];$.src=('https:'==d.location.protocol?'https://ssl':'http://cdn')+    '.zopim.com/?003CPh1AKcEC8wJZ65dSUr9LLt1Vx3iV';$.type='text/java'+s;z.    t=+new Date;z._=[];e.parentNode.insertBefore($,e)})(document,'script')    // ]]>    </script-->    <!-- End of Zopim Live Chat Script -->        <div id=\"mask-statistic\"><script src=\"http://brno-hotel.hotelavanti.cz/sys.php?action=stat_js_prg\" type=\"text/javascript\"></script>    ", 
        "hash": "/o-hotelu", 
        "containers": {
                "div .top#menu": [
                    {"partial": "/odata-apiary-demo/static/core/partials/menu/menu.html", 
                    "refresh": false, 
                    "initialData": {"rootID": "50c06f70b16ddc1997053219"}, 
                    "dependencies": [], 
                    "renderCondition": "true", 
                    "id": "c1"}
                ],"#mask-article": [
                    {"partial": "/odata-apiary-demo/static/core/partials/article/article.html", 
                    "refresh": true, 
                    "initialData": {"articleID": "50c06f70b16ddc1997055220"}, 
                    "dependencies": [], 
                    "renderCondition": "true", 
                    "id": "c2"}
                ]
            }
        }]
    }
}

Vrátí pageconfig pro stranku nabidky hotelu
GET /_/route/v1/?q=/nabidka-hotelu
< 200
< Content-Type: application/json
{ "d": {
    "results": [
        {"params": "^/(?P<categorySlug>[^/]+)/$", 
        "layout": " <div id=\"mask-all\">        <div id=\"mask-top\">            <a  href=\"./#!\" title=\"Hotel Avanti\" onmouseover=\"  savestatus = window.status; window.status = 'Hotel Avanti'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\"  class=\"logo\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-hotel-avanti.png\" alt=\"Hotel Avanti , klikněte pro návrat na hlavní stránku\"></a>            <div id=\"mask-lang\">                <a class=\"cz active\" href=\"http://brno-hotel.hotelavanti.cz/\" title=\"CZ\"></a>                <a class=\"en\" href=\"http://www.brno-hotel-avanti.eu/\" title=\"EN\"></a>                <a class=\"de\" href=\"http://www.hotel-avanti.de/\" title=\"DE\"></a>                <a class=\"ru\" href=\"http://www.hotel-avanti.ru/\" title=\"RU\"></a>            </div>            <div id=\"mask-moduls\">                <a class=\"links link-home\"  href=\"?typ=HAA\" title=\"Hotel Avanti\" onmouseover=\"  savestatus = window.status; window.status = 'Hotel Avanti'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Hotel Avanti , klikněte pro návrat na hlavní stránku</span></a>                <a class=\"links link-hotline\"  href=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" title=\"Rezervace ubytování ON-LINE\" onmouseover=\"  savestatus = window.status; window.status = 'Rezervace ubytování ON-LINE'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Rezervace ubytování ON-LINE</span></a>                <a class=\"links link-webmap\"  href=\"http://brno-hotel.hotelavanti.cz/mapa-webu/\" title=\"Mapa webu\" onmouseover=\"  savestatus = window.status; window.status = 'Mapa webu'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Mapa webu</span></a>            </div>           <div id=\"menu\" class=\"top\">                        </div>            <br class=\"cleaner\">            <ul id=\"menu-left\"><li><a class=\"mnormal\" onmouseover=\"self.status='Ubytování'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://ubytovani-brno.hotelavanti.cz/\">Ubytování</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Konferenční prostory'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/konferencni-centrum/\">Konferenční prostory</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Bowling a Wellness'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/bowling-a-wellness/\">Bowling a Wellness</a></li><li class=\"last\"><a class=\"mnormal\" onmouseover=\"self.status='Gastronomie'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/gastronomie/\">Gastronomie</a></li></ul>            <div id=\"slider-top\">  <div id=\"slider-top-shine\"></div>  <div class=\"slider-content\">    <div class=\"slides\">         <div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-01.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-02.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-03.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-04.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-05.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-06.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-07.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-08.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-09.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-10.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-11.jpg\" alt=\"homepage\"></div></div>    </div>  </div>    <div class=\"cleaner\"></div>     </div>                    </div>        </div>        <div id=\"mask-middle3\">        <div id=\"mask-middle\">          <div id=\"mask-middle2\">                         <div id=\"mask-left\">                <div class=\"mask-column-reservation side-box\"><a href=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" title=\"Rezervace ubytování ON-LINE\" onmouseover=\"  savestatus = window.status; window.status = 'Rezervace ubytování ON-LINE'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><strong class=\"strong-title\">On-line rezervace</strong></a><div class=\"article-wrap\"></div>                <form action=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" method=\"post\">                    <input name=\"obkId\" type=\"hidden\" value=\"68673\" />                                        <div class=\"left-col\">                        <label for=\"form-prijezd\">Příjezd</label><input name=\"dateFrom\" class=\"datepicker from \" id=\"form-prijezd\" type=\"text\" />                                            </div>                    <div class=\"right-col\">                        <label for=\"form-odjezd\">Odjezd</label><input name=\"dateTo\" class=\"datepicker to \" id=\"form-odjezd\" type=\"text\" />                    </div>                                        <input type=\"submit\" name=\"checkAvaibility\" value=\"Ověřit dostupnost\" />                                        <br class=\"cleaner\">                                    </form>           </div><strong class=\"title-new\">O&nbsp;hotelu</strong><div id=\"menu-left-bottom\"><ul class=\"makeMenu\"><li class=\"active-item\"><a class=\"active-item\" onmouseover=\"self.status='Hotel AVANTI'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/hotel-avanti/\">Hotel AVANTI</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Poloha Hotelu v Brně'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/poloha-hotelu-v-brne/\">Poloha Hotelu v Brně</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Aktuálně'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"#!/o-hotelu/aktualne/\">Aktuálně</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Projekty EU'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/projekty-eu/\">Projekty EU</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Názory klientů z booking.com'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/nazory-klientu-z-booking-com/\">Názory klientů z booking.com</a></li><li class=\"normal-item last\"><a onmouseover=\"self.status='Pro partnery'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/pro-partnery/\">Pro partnery</a></li></ul></div>&nbsp;<a  href=\"http://ubytovani-brno.hotelavanti.cz/akcni-ceny-ubytovani/\" title=\"Akční ceny ubytování\" onmouseover=\"  savestatus = window.status; window.status = 'Akční ceny ubytování'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\"  id=\"lastminute-new\">    <strong>Akční ceny</strong><br>ubytování<br>od 1 050 Kč</a><div id=\"mask-hotelstars-left\">                        <a href=\"http://www.hotelstars.cz\" title=\"www.hotelstars.cz\" target=\"_blank\">                            <img alt=\"logo Standard 4*\" src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-4star.gif\">                        </a>                        <a href=\"http://www.conventia.cz/planovane-akce/czech-hotel-awards/\" title=\"Czech Hotel Awards 2012 - nominovaný hotel\" target=\"_blank\">                            <img alt=\"Czech Hotel Awards 2012 - nominovaný hotel\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/czech-hotel-awards-2012-nominace.gif\">                        </a>                        <!--div id=\"hotelcz-doporuceni\">                            <a href=\"http://avanti.hotel.cz/\" target=\"_blank\" title=\"AVANTI Hotel - ubytování Brno\" class=\"hotelcz-doporuceni-title\">AVANTI Hotel</a>                            <a href=\"http://www.hotel.cz/brno/\"  target=\"_blank\" title=\"Rezervační systém ubytování pro Brno\" class=\"hotelcz-doporuceni-link\">ubytování Brno</a>                            <img src=\"http://www.hotel.cz/files/reviewimage.php?seo=avanti\" class=\"hotelcz-doporuceni-review\" alt=\"Kvalita ubytování AVANTI Hotel, Brno\" title=\"Hodnocení kvality ubytování a hotelu AVANTI Hotel zákazníky HOTEL.CZ\"/>                        </div-->                        <a href=\"http://www.hotel-atlantis.cz/\" title=\"Spolupracujeme - Hotel Atlantis\" target=\"_blank\">                            <img alt=\"Spolupracujeme - Hotel Atlantis\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/spolupracujeme-hotel-atlantis.png\">                        </a>                    </div>                    </div>                        <div id=\"mask-right\">                <div id=\"slider-advantage\">  <strong class=\"title\">Proč Avanti?</strong>  <div class=\"slider-content\">    <div class=\"slides\">              <div>Parkování u&nbsp;hotelu pro ubytované hosty&nbsp;ZDARMA </div>     <div>10% sleva v&nbsp;restauraci </div>     <div>Wifi, nebo&nbsp;pevné přípojení k internetu ZDARMA&nbsp; </div>     <div>Veřejné wellness pro ubytované ZDARMA<br></div>       </div>  </div>    <div class=\"cleaner\"></div>     </div><div id=\"mask-home\">                                                                                                                                                                                       <div id=\"mask-article\" class=\"home\"></div>    <div id=\"mask-home-right\">            <strong class='news title-new'>Aktuálně</strong><div id='mod-news-home'><div class='item'><h2><a href='#!/o-hotelu/aktualne/family-balicek-a2544515'>Family balíček</a></h2>                              <div class='mod-news-body'>Nevíte kam s rodinou na prázdniny? Máme pro Vás skvělý tip! Využijte našeho Family balíčku a dopřejte si odpočinek s celou Vaší rodinou v hotelu Avanti.Family balíč&hellip;</div></div><div class='item'><h2><a href='#!/o-hotelu/aktualne/chlazene-pokoje-a2540574'>chlazené pokoje</a></h2>                              <div class='mod-news-body'>Léto je tady !!!  Hotel Avanti bude mít od středy 19.6.2013 všechny pokoje chlazené, přijďte nejen v horkých dnech do hotelu Avanti v Brně a nastavte si teplotu na s&hellip;</div></div></div>                            </div>    <br class=\"cleaner\">    </div>                <div class=\"cleaner\"></div>                            </div>                        <div class=\"cleaner\"></div>            <div id=\"footer-top\">                 <div class=\"foot-cont\"><p>© <strong>Hotel Avanti</strong> 2010, Střední 61, 602 00 Brno, <strong>Tel:</strong> +420 541 510 111, 211, <strong>E-mail:</strong> <a href=\"mailto:hotel@hotelavanti.cz\">hotel@hotelavanti.cz</a></p></div><ul id=\"menu-bottom\"><li><a class=\"mnormal\" onmouseover=\"self.status='Ubytování Brno Hotely'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://ubytovani-brno.hotelavanti.cz/\">Ubytování Brno Hotely</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Konferenční prostory'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/konferencni-centrum/\">Konferenční prostory</a></li><li class=\"last\"><a class=\"mnormal\" onmouseover=\"self.status='Gastronomie, restaurace'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/gastronomie/\">Gastronomie, restaurace</a></li></ul>                 </div>                          </div>        </div>        </div>              <div id=\"mask-footer\">        <div id=\"mask-footer-content\">        <div id=\"mask-cofinancing\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\"> <tbody>  <tr>    <td width=\"230\"><img alt=\"Logo ČR\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-cz-small.gif\"> <a href=\"http://www.strukturalni-fondy.cz/\" target=\"_blank\"><img border=\"0\" alt=\"Logo EU\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-eu-small.gif\"></a> <a href=\"http://www.kr-jihomoravsky.cz/\" target=\"_blank\"><img border=\"0\" alt=\"Logo Jihomoravský kraj\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-jm-kraj-small.gif\"></a> </td>    <td>Spolufinancovánom Evropskou unií    <br>a Jihomoravským krajem </td>    <td width=\"260\"><img border=\"0\" alt=\"eu projekt\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/loga/eu-projekt.gif\"></td>  </tr></tbody></table></div><br class=\"cleaner\"><span class=\"powered-by-text-all\">Provozováno na <a href=\"http://www.magnetpro.cz/\" class=\"powered-by-link\" target=\"_blank\" title=\"MagnetPro - stránky, které prodávají\"><span class=\"powered-by-text-magnet\">m@gnet</span><span class=\"powered-by-text-pro\">pro</span></a></span><br class=\"cleaner\"><div id=\"mask-bottom-links\"><a href=\"http://brno-hotel.hotelavanti.cz/pro-partnery/\" title=\"\">Pro partnery</a> | <a href=\"http://brno-hotel.hotelavanti.cz/katalog-firem/\" title=\"\">Katalog firem</a> | <a href=\"http://www.alkatravel.cz/\" title=\"Chaty a chalupy k pronajmutí\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Chaty a chalupy</a> <a href=\"http://www.rajpradla.cz/plavky\" title=\"Plavky\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Plavky</a> <a href=\"http://www.aba-pneu.cz\" title=\"Pneumatiky ABA\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Pneumatiky ABA</a> <a href=\"http://www.fitness.cz/\" title=\"Posilovací stroje\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Posilovací stroje</a> <a href=\"http://www.fragment.cz/\" title=\"Knihkupectví\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Knihkupectví</a> <a href=\"http://www.rh-centrum.cz/\" title=\"Byty na prodej\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Byty na prodej</a> </div>        <div id=\"hotel-socials\">            <a href=\"http://www.facebook.com/hotelavanti\" id=\"hotel-facebook\" target=\"_blank\"><span>Facebook - Hotel Avanti</span></a>            <a href=\"http://foursquare.com/v/avanti-hotel-brno/4bcc5d40aeaaeee1eeee3d6d\" id=\"hotel-foursquare\" target=\"_blank\"><span>Foursquare - Hotel Avanti</span></a>            <a href=\"http://www.tripadvisor.com/Hotel_Review-g274714-d634401-Reviews-Avanti_Hotel-Brno_South_Moravian_Region_Moravia.html\" id=\"hotel-tripadvisor\" target=\"_blank\"><span>Tripadvisor - Hotel Avanti</span></a>        </div>        <a href=\"http://www.ahrcr.cz/\" title=\"Asociace hotelů a restaurací České republiky\" id=\"logo-ahcr\" target=\"_blank\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-ahcr.gif\" alt=\"Asociace hotelů a restaurací České republiky\"></a>    <a href=\"http://www.payu.cz/\" title=\"PayU - bezpečné a rychhhlé platby\" id=\"logo-payu\" target=\"_blank\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-payu.png\" alt=\"PayU - bezpečné a rychhhlé platby\"></a>        </div>            </div>        <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/i18n/jquery.ui.datepicker-cs.js\"></script>    <script type='text/javascript' src='http://brno-hotel.hotelavanti.cz/js/_compiled_tail_libs.js?version=1'></script>        <!-- Start of Zopim Live Chat Script -->    <!--script type=\"text/javascript\">    // <![CDATA[    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=    z.s=d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o    ){z.set._.push(o)};$.setAttribute('charset','utf-8');$.async=!0;z.set.    _=[];$.src=('https:'==d.location.protocol?'https://ssl':'http://cdn')+    '.zopim.com/?003CPh1AKcEC8wJZ65dSUr9LLt1Vx3iV';$.type='text/java'+s;z.    t=+new Date;z._=[];e.parentNode.insertBefore($,e)})(document,'script')    // ]]>    </script-->    <!-- End of Zopim Live Chat Script -->        <div id=\"mask-statistic\"><script src=\"http://brno-hotel.hotelavanti.cz/sys.php?action=stat_js_prg\" type=\"text/javascript\"></script>    ", 
        "hash": "/nabidka-hotelu", 
        "containers": {
                "div .top#menu": [
                    {"partial": "/odata-apiary-demo/static/core/partials/menu/menu.html", 
                    "refresh": true, 
                    "initialData": {"rootID": "50c06f70b16ddc1997053219"}, 
                    "dependencies": [], 
                    "renderCondition": "true", 
                    "id": "c1"}
                ],"#mask-article": [
                    {"partial": "/odata-apiary-demo/static/core/partials/article/article.html", 
                    "refresh": true, 
                    "initialData": {"articleID": "50c06f70b16ddc1997055221"}, 
                    "dependencies": [], 
                    "renderCondition": "true", 
                    "id": "c2"}
                ]
            }
        }]
    }
}

Vrátí pageconfig pro stranku aktualit
GET /_/route/v1/?q=/o-hotelu/aktualne/
< 200
< Content-Type: application/json
{ "d": {
    "results": [
        {"params": "^$", 
        "layout": " <div id=\"mask-all\">        <div id=\"mask-top\">            <a  href=\"./#!\" title=\"Hotel Avanti\" onmouseover=\"  savestatus = window.status; window.status = 'Hotel Avanti'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\"  class=\"logo\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-hotel-avanti.png\" alt=\"Hotel Avanti , klikněte pro návrat na hlavní stránku\"></a>            <div id=\"mask-lang\">                <a class=\"cz active\" href=\"http://brno-hotel.hotelavanti.cz/\" title=\"CZ\"></a>                <a class=\"en\" href=\"http://www.brno-hotel-avanti.eu/\" title=\"EN\"></a>                <a class=\"de\" href=\"http://www.hotel-avanti.de/\" title=\"DE\"></a>                <a class=\"ru\" href=\"http://www.hotel-avanti.ru/\" title=\"RU\"></a>            </div>            <div id=\"mask-moduls\">                <a class=\"links link-home\"  href=\"?typ=HAA\" title=\"Hotel Avanti\" onmouseover=\"  savestatus = window.status; window.status = 'Hotel Avanti'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Hotel Avanti , klikněte pro návrat na hlavní stránku</span></a>                <a class=\"links link-hotline\"  href=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" title=\"Rezervace ubytování ON-LINE\" onmouseover=\"  savestatus = window.status; window.status = 'Rezervace ubytování ON-LINE'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Rezervace ubytování ON-LINE</span></a>                <a class=\"links link-webmap\"  href=\"http://brno-hotel.hotelavanti.cz/mapa-webu/\" title=\"Mapa webu\" onmouseover=\"  savestatus = window.status; window.status = 'Mapa webu'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Mapa webu</span></a>            </div>           <div id=\"menu\" class=\"top\">                        </div>            <br class=\"cleaner\">            <ul id=\"menu-left\"><li><a class=\"mnormal\" onmouseover=\"self.status='Ubytování'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://ubytovani-brno.hotelavanti.cz/\">Ubytování</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Konferenční prostory'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/konferencni-centrum/\">Konferenční prostory</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Bowling a Wellness'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/bowling-a-wellness/\">Bowling a Wellness</a></li><li class=\"last\"><a class=\"mnormal\" onmouseover=\"self.status='Gastronomie'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/gastronomie/\">Gastronomie</a></li></ul>            <div id=\"slider-top\">  <div id=\"slider-top-shine\"></div>  <div class=\"slider-content\">    <div class=\"slides\">         <div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-01.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-02.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-03.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-04.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-05.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-06.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-07.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-08.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-09.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-10.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-11.jpg\" alt=\"homepage\"></div></div>    </div>  </div>    <div class=\"cleaner\"></div>     </div>                    </div>        </div>        <div id=\"mask-middle3\">        <div id=\"mask-middle\">          <div id=\"mask-middle2\">                         <div id=\"mask-left\">                <div class=\"mask-column-reservation side-box\"><a href=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" title=\"Rezervace ubytování ON-LINE\" onmouseover=\"  savestatus = window.status; window.status = 'Rezervace ubytování ON-LINE'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><strong class=\"strong-title\">On-line rezervace</strong></a><div class=\"article-wrap\"></div>                <form action=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" method=\"post\">                    <input name=\"obkId\" type=\"hidden\" value=\"68673\" />                                        <div class=\"left-col\">                        <label for=\"form-prijezd\">Příjezd</label><input name=\"dateFrom\" class=\"datepicker from \" id=\"form-prijezd\" type=\"text\" />                                            </div>                    <div class=\"right-col\">                        <label for=\"form-odjezd\">Odjezd</label><input name=\"dateTo\" class=\"datepicker to \" id=\"form-odjezd\" type=\"text\" />                    </div>                                        <input type=\"submit\" name=\"checkAvaibility\" value=\"Ověřit dostupnost\" />                                        <br class=\"cleaner\">                                    </form>           </div><strong class=\"title-new\">O&nbsp;hotelu</strong><div id=\"menu-left-bottom\"><ul class=\"makeMenu\"><li class=\"active-item\"><a class=\"active-item\" onmouseover=\"self.status='Hotel AVANTI'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/hotel-avanti/\">Hotel AVANTI</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Poloha Hotelu v Brně'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/poloha-hotelu-v-brne/\">Poloha Hotelu v Brně</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Aktuálně'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"#!/o-hotelu/aktualne/\">Aktuálně</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Projekty EU'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/projekty-eu/\">Projekty EU</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Názory klientů z booking.com'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/nazory-klientu-z-booking-com/\">Názory klientů z booking.com</a></li><li class=\"normal-item last\"><a onmouseover=\"self.status='Pro partnery'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/pro-partnery/\">Pro partnery</a></li></ul></div>&nbsp;<a  href=\"http://ubytovani-brno.hotelavanti.cz/akcni-ceny-ubytovani/\" title=\"Akční ceny ubytování\" onmouseover=\"  savestatus = window.status; window.status = 'Akční ceny ubytování'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\"  id=\"lastminute-new\">    <strong>Akční ceny</strong><br>ubytování<br>od 1 050 Kč</a><div id=\"mask-hotelstars-left\">                        <a href=\"http://www.hotelstars.cz\" title=\"www.hotelstars.cz\" target=\"_blank\">                            <img alt=\"logo Standard 4*\" src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-4star.gif\">                        </a>                        <a href=\"http://www.conventia.cz/planovane-akce/czech-hotel-awards/\" title=\"Czech Hotel Awards 2012 - nominovaný hotel\" target=\"_blank\">                            <img alt=\"Czech Hotel Awards 2012 - nominovaný hotel\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/czech-hotel-awards-2012-nominace.gif\">                        </a>                        <!--div id=\"hotelcz-doporuceni\">                            <a href=\"http://avanti.hotel.cz/\" target=\"_blank\" title=\"AVANTI Hotel - ubytování Brno\" class=\"hotelcz-doporuceni-title\">AVANTI Hotel</a>                            <a href=\"http://www.hotel.cz/brno/\"  target=\"_blank\" title=\"Rezervační systém ubytování pro Brno\" class=\"hotelcz-doporuceni-link\">ubytování Brno</a>                            <img src=\"http://www.hotel.cz/files/reviewimage.php?seo=avanti\" class=\"hotelcz-doporuceni-review\" alt=\"Kvalita ubytování AVANTI Hotel, Brno\" title=\"Hodnocení kvality ubytování a hotelu AVANTI Hotel zákazníky HOTEL.CZ\"/>                        </div-->                        <a href=\"http://www.hotel-atlantis.cz/\" title=\"Spolupracujeme - Hotel Atlantis\" target=\"_blank\">                            <img alt=\"Spolupracujeme - Hotel Atlantis\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/spolupracujeme-hotel-atlantis.png\">                        </a>                    </div>                    </div>                        <div id=\"mask-right\">                <div id=\"slider-advantage\">  <strong class=\"title\">Proč Avanti?</strong>  <div class=\"slider-content\">    <div class=\"slides\">              <div>Parkování u&nbsp;hotelu pro ubytované hosty&nbsp;ZDARMA </div>     <div>10% sleva v&nbsp;restauraci </div>     <div>Wifi, nebo&nbsp;pevné přípojení k internetu ZDARMA&nbsp; </div>     <div>Veřejné wellness pro ubytované ZDARMA<br></div>       </div>  </div>    <div class=\"cleaner\"></div>     </div><div id=\"mask-home\">                                                                                                                                                                                       <div id=\"mask-article\" class=\"home\"></div>    <div id=\"mask-home-right\">            <strong class='news title-new'>Aktuálně</strong><div id='mod-news-home'><div class='item'><h2><a href='#!/o-hotelu/aktualne/family-balicek-a2544515'>Family balíček</a></h2>                              <div class='mod-news-body'>Nevíte kam s rodinou na prázdniny? Máme pro Vás skvělý tip! Využijte našeho Family balíčku a dopřejte si odpočinek s celou Vaší rodinou v hotelu Avanti.Family balíč&hellip;</div></div><div class='item'><h2><a href='#!/o-hotelu/aktualne/chlazene-pokoje-a2540574'>chlazené pokoje</a></h2>                              <div class='mod-news-body'>Léto je tady !!!  Hotel Avanti bude mít od středy 19.6.2013 všechny pokoje chlazené, přijďte nejen v horkých dnech do hotelu Avanti v Brně a nastavte si teplotu na s&hellip;</div></div></div>                            </div>    <br class=\"cleaner\">    </div>                <div class=\"cleaner\"></div>                            </div>                        <div class=\"cleaner\"></div>            <div id=\"footer-top\">                 <div class=\"foot-cont\"><p>© <strong>Hotel Avanti</strong> 2010, Střední 61, 602 00 Brno, <strong>Tel:</strong> +420 541 510 111, 211, <strong>E-mail:</strong> <a href=\"mailto:hotel@hotelavanti.cz\">hotel@hotelavanti.cz</a></p></div><ul id=\"menu-bottom\"><li><a class=\"mnormal\" onmouseover=\"self.status='Ubytování Brno Hotely'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://ubytovani-brno.hotelavanti.cz/\">Ubytování Brno Hotely</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Konferenční prostory'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/konferencni-centrum/\">Konferenční prostory</a></li><li class=\"last\"><a class=\"mnormal\" onmouseover=\"self.status='Gastronomie, restaurace'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/gastronomie/\">Gastronomie, restaurace</a></li></ul>                 </div>                          </div>        </div>        </div>              <div id=\"mask-footer\">        <div id=\"mask-footer-content\">        <div id=\"mask-cofinancing\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\"> <tbody>  <tr>    <td width=\"230\"><img alt=\"Logo ČR\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-cz-small.gif\"> <a href=\"http://www.strukturalni-fondy.cz/\" target=\"_blank\"><img border=\"0\" alt=\"Logo EU\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-eu-small.gif\"></a> <a href=\"http://www.kr-jihomoravsky.cz/\" target=\"_blank\"><img border=\"0\" alt=\"Logo Jihomoravský kraj\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-jm-kraj-small.gif\"></a> </td>    <td>Spolufinancovánom Evropskou unií    <br>a Jihomoravským krajem </td>    <td width=\"260\"><img border=\"0\" alt=\"eu projekt\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/loga/eu-projekt.gif\"></td>  </tr></tbody></table></div><br class=\"cleaner\"><span class=\"powered-by-text-all\">Provozováno na <a href=\"http://www.magnetpro.cz/\" class=\"powered-by-link\" target=\"_blank\" title=\"MagnetPro - stránky, které prodávají\"><span class=\"powered-by-text-magnet\">m@gnet</span><span class=\"powered-by-text-pro\">pro</span></a></span><br class=\"cleaner\"><div id=\"mask-bottom-links\"><a href=\"http://brno-hotel.hotelavanti.cz/pro-partnery/\" title=\"\">Pro partnery</a> | <a href=\"http://brno-hotel.hotelavanti.cz/katalog-firem/\" title=\"\">Katalog firem</a> | <a href=\"http://www.alkatravel.cz/\" title=\"Chaty a chalupy k pronajmutí\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Chaty a chalupy</a> <a href=\"http://www.rajpradla.cz/plavky\" title=\"Plavky\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Plavky</a> <a href=\"http://www.aba-pneu.cz\" title=\"Pneumatiky ABA\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Pneumatiky ABA</a> <a href=\"http://www.fitness.cz/\" title=\"Posilovací stroje\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Posilovací stroje</a> <a href=\"http://www.fragment.cz/\" title=\"Knihkupectví\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Knihkupectví</a> <a href=\"http://www.rh-centrum.cz/\" title=\"Byty na prodej\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Byty na prodej</a> </div>        <div id=\"hotel-socials\">            <a href=\"http://www.facebook.com/hotelavanti\" id=\"hotel-facebook\" target=\"_blank\"><span>Facebook - Hotel Avanti</span></a>            <a href=\"http://foursquare.com/v/avanti-hotel-brno/4bcc5d40aeaaeee1eeee3d6d\" id=\"hotel-foursquare\" target=\"_blank\"><span>Foursquare - Hotel Avanti</span></a>            <a href=\"http://www.tripadvisor.com/Hotel_Review-g274714-d634401-Reviews-Avanti_Hotel-Brno_South_Moravian_Region_Moravia.html\" id=\"hotel-tripadvisor\" target=\"_blank\"><span>Tripadvisor - Hotel Avanti</span></a>        </div>        <a href=\"http://www.ahrcr.cz/\" title=\"Asociace hotelů a restaurací České republiky\" id=\"logo-ahcr\" target=\"_blank\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-ahcr.gif\" alt=\"Asociace hotelů a restaurací České republiky\"></a>    <a href=\"http://www.payu.cz/\" title=\"PayU - bezpečné a rychhhlé platby\" id=\"logo-payu\" target=\"_blank\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-payu.png\" alt=\"PayU - bezpečné a rychhhlé platby\"></a>        </div>            </div>        <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/i18n/jquery.ui.datepicker-cs.js\"></script>    <script type='text/javascript' src='http://brno-hotel.hotelavanti.cz/js/_compiled_tail_libs.js?version=1'></script>        <!-- Start of Zopim Live Chat Script -->    <!--script type=\"text/javascript\">    // <![CDATA[    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=    z.s=d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o    ){z.set._.push(o)};$.setAttribute('charset','utf-8');$.async=!0;z.set.    _=[];$.src=('https:'==d.location.protocol?'https://ssl':'http://cdn')+    '.zopim.com/?003CPh1AKcEC8wJZ65dSUr9LLt1Vx3iV';$.type='text/java'+s;z.    t=+new Date;z._=[];e.parentNode.insertBefore($,e)})(document,'script')    // ]]>    </script-->    <!-- End of Zopim Live Chat Script -->        <div id=\"mask-statistic\"><script src=\"http://brno-hotel.hotelavanti.cz/sys.php?action=stat_js_prg\" type=\"text/javascript\"></script>    ", 
        "hash": "/o-hotelu/aktualne/", 
        "containers": {
                "div .top#menu": [
                    {"partial": "/odata-apiary-demo/static/core/partials/menu/menu.html", 
                    "refresh": true, 
                    "initialData": {"rootID": "50c06f70b16ddc1997053219"}, 
                    "dependencies": [], 
                    "renderCondition": "true", 
                    "id": "c1"}
                ],"#mask-article": [
                    {"partial": "/odata-apiary-demo/static/core/partials/article/articleList.html", 
                    "refresh": true, 
                    "initialData": {"type": "/getLatests"}, 
                    "dependencies": [], 
                    "renderCondition": "true", 
                    "id": "c3"}
                ]
            }
        }]
    }
}

Vrátí pageconfig pro clanek Family balicek
GET /_/route/v1/?q=/family-balicek
< 200
< Content-Type: application/json
{ "d": {
    "results": [
        {"params": "^/(?P<categorySlug>[^/]+)/$", 
        "layout": " <div id=\"mask-all\">        <div id=\"mask-top\">            <a  href=\"./#!\" title=\"Hotel Avanti\" onmouseover=\"  savestatus = window.status; window.status = 'Hotel Avanti'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\"  class=\"logo\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-hotel-avanti.png\" alt=\"Hotel Avanti , klikněte pro návrat na hlavní stránku\"></a>            <div id=\"mask-lang\">                <a class=\"cz active\" href=\"http://brno-hotel.hotelavanti.cz/\" title=\"CZ\"></a>                <a class=\"en\" href=\"http://www.brno-hotel-avanti.eu/\" title=\"EN\"></a>                <a class=\"de\" href=\"http://www.hotel-avanti.de/\" title=\"DE\"></a>                <a class=\"ru\" href=\"http://www.hotel-avanti.ru/\" title=\"RU\"></a>            </div>            <div id=\"mask-moduls\">                <a class=\"links link-home\"  href=\"?typ=HAA\" title=\"Hotel Avanti\" onmouseover=\"  savestatus = window.status; window.status = 'Hotel Avanti'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Hotel Avanti , klikněte pro návrat na hlavní stránku</span></a>                <a class=\"links link-hotline\"  href=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" title=\"Rezervace ubytování ON-LINE\" onmouseover=\"  savestatus = window.status; window.status = 'Rezervace ubytování ON-LINE'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Rezervace ubytování ON-LINE</span></a>                <a class=\"links link-webmap\"  href=\"http://brno-hotel.hotelavanti.cz/mapa-webu/\" title=\"Mapa webu\" onmouseover=\"  savestatus = window.status; window.status = 'Mapa webu'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><span>Mapa webu</span></a>            </div>            <div id=\"menu\" class=\"top\">                         </div>            <br class=\"cleaner\">            <ul id=\"menu-left\"><li><a class=\"mnormal\" onmouseover=\"self.status='Ubytování'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://ubytovani-brno.hotelavanti.cz/\">Ubytování</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Konferenční prostory'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/konferencni-centrum/\">Konferenční prostory</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Bowling a Wellness'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/bowling-a-wellness/\">Bowling a Wellness</a></li><li class=\"last\"><a class=\"mnormal\" onmouseover=\"self.status='Gastronomie'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/gastronomie/\">Gastronomie</a></li></ul>            <div id=\"slider-top\">  <div id=\"slider-top-shine\"></div>  <div class=\"slider-content\">    <div class=\"slides\">         <div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-01.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-02.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-03.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-04.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-05.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-06.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-07.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-08.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-09.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-10.jpg\" alt=\"homepage\"></div></div><div class=\"item\"><div class=\"img-wrap\"><img class=\"article-img\" src=\"http://brno-hotel.hotelavanti.cz/picture/animace/homepage/hotel-avanti-11.jpg\" alt=\"homepage\"></div></div>    </div>  </div>    <div class=\"cleaner\"></div>     </div>                    </div>        </div>        <div id=\"mask-middle3\">        <div id=\"mask-middle\">          <div id=\"mask-middle2\">                         <div id=\"mask-left\">                <div class=\"mask-column-reservation side-box\"><a href=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" title=\"Rezervace ubytování ON-LINE\" onmouseover=\"  savestatus = window.status; window.status = 'Rezervace ubytování ON-LINE'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\" ><strong class=\"strong-title\">On-line rezervace</strong></a><div class=\"article-wrap\"></div>                <form action=\"http://ubytovani-brno.hotelavanti.cz/rezervace-ubytovani-on-line/\" method=\"post\">                    <input name=\"obkId\" type=\"hidden\" value=\"68673\" />                                        <div class=\"left-col\">                        <label for=\"form-prijezd\">Příjezd</label><input name=\"dateFrom\" class=\"datepicker from \" id=\"form-prijezd\" type=\"text\" />                                            </div>                    <div class=\"right-col\">                        <label for=\"form-odjezd\">Odjezd</label><input name=\"dateTo\" class=\"datepicker to \" id=\"form-odjezd\" type=\"text\" />                    </div>                                        <input type=\"submit\" name=\"checkAvaibility\" value=\"Ověřit dostupnost\" />                                        <br class=\"cleaner\">                                    </form>           </div><strong class=\"title-new\">O&nbsp;hotelu</strong><div id=\"menu-left-bottom\"><ul class=\"makeMenu\"><li class=\"active-item\"><a class=\"active-item\" onmouseover=\"self.status='Hotel AVANTI'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/hotel-avanti/\">Hotel AVANTI</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Poloha Hotelu v Brně'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/poloha-hotelu-v-brne/\">Poloha Hotelu v Brně</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Aktuálně'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"#!/o-hotelu/aktualne/\">Aktuálně</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Projekty EU'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/projekty-eu/\">Projekty EU</a></li><li class=\"normal-item\"><a onmouseover=\"self.status='Názory klientů z booking.com'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/o-hotelu/nazory-klientu-z-booking-com/\">Názory klientů z booking.com</a></li><li class=\"normal-item last\"><a onmouseover=\"self.status='Pro partnery'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"/pro-partnery/\">Pro partnery</a></li></ul></div>&nbsp;<a  href=\"http://ubytovani-brno.hotelavanti.cz/akcni-ceny-ubytovani/\" title=\"Akční ceny ubytování\" onmouseover=\"  savestatus = window.status; window.status = 'Akční ceny ubytování'; return true;\" onmouseout=\"  window.status = savestatus;  return true;\"  id=\"lastminute-new\">    <strong>Akční ceny</strong><br>ubytování<br>od 1 050 Kč</a><div id=\"mask-hotelstars-left\">                        <a href=\"http://www.hotelstars.cz\" title=\"www.hotelstars.cz\" target=\"_blank\">                            <img alt=\"logo Standard 4*\" src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-4star.gif\">                        </a>                        <a href=\"http://www.conventia.cz/planovane-akce/czech-hotel-awards/\" title=\"Czech Hotel Awards 2012 - nominovaný hotel\" target=\"_blank\">                            <img alt=\"Czech Hotel Awards 2012 - nominovaný hotel\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/czech-hotel-awards-2012-nominace.gif\">                        </a>                        <!--div id=\"hotelcz-doporuceni\">                            <a href=\"http://avanti.hotel.cz/\" target=\"_blank\" title=\"AVANTI Hotel - ubytování Brno\" class=\"hotelcz-doporuceni-title\">AVANTI Hotel</a>                            <a href=\"http://www.hotel.cz/brno/\"  target=\"_blank\" title=\"Rezervační systém ubytování pro Brno\" class=\"hotelcz-doporuceni-link\">ubytování Brno</a>                            <img src=\"http://www.hotel.cz/files/reviewimage.php?seo=avanti\" class=\"hotelcz-doporuceni-review\" alt=\"Kvalita ubytování AVANTI Hotel, Brno\" title=\"Hodnocení kvality ubytování a hotelu AVANTI Hotel zákazníky HOTEL.CZ\"/>                        </div-->                        <a href=\"http://www.hotel-atlantis.cz/\" title=\"Spolupracujeme - Hotel Atlantis\" target=\"_blank\">                            <img alt=\"Spolupracujeme - Hotel Atlantis\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/spolupracujeme-hotel-atlantis.png\">                        </a>                    </div>                    </div>                        <div id=\"mask-right\">                <div id=\"slider-advantage\">  <strong class=\"title\">Proč Avanti?</strong>  <div class=\"slider-content\">    <div class=\"slides\">              <div>Parkování u&nbsp;hotelu pro ubytované hosty&nbsp;ZDARMA </div>     <div>10% sleva v&nbsp;restauraci </div>     <div>Wifi, nebo&nbsp;pevné přípojení k internetu ZDARMA&nbsp; </div>     <div>Veřejné wellness pro ubytované ZDARMA<br></div>       </div>  </div>    <div class=\"cleaner\"></div>     </div><div id=\"mask-home\">                                                                                                                                                                                       <div id=\"mask-article\" class=\"home\"></div>    <div id=\"mask-home-right\">            <strong class='news title-new'>Aktuálně</strong><div id='mod-news-home'><div class='item'><h2><a href='#!/o-hotelu/aktualne/family-balicek-a2544515'>Family balíček</a></h2>                              <div class='mod-news-body'>Nevíte kam s rodinou na prázdniny? Máme pro Vás skvělý tip! Využijte našeho Family balíčku a dopřejte si odpočinek s celou Vaší rodinou v hotelu Avanti.Family balíč&hellip;</div></div><div class='item'><h2><a href='#!/o-hotelu/aktualne/chlazene-pokoje-a2540574'>chlazené pokoje</a></h2>                              <div class='mod-news-body'>Léto je tady !!!  Hotel Avanti bude mít od středy 19.6.2013 všechny pokoje chlazené, přijďte nejen v horkých dnech do hotelu Avanti v Brně a nastavte si teplotu na s&hellip;</div></div></div>                            </div>    <br class=\"cleaner\">    </div>                <div class=\"cleaner\"></div>                            </div>                        <div class=\"cleaner\"></div>            <div id=\"footer-top\">                 <div class=\"foot-cont\"><p>© <strong>Hotel Avanti</strong> 2010, Střední 61, 602 00 Brno, <strong>Tel:</strong> +420 541 510 111, 211, <strong>E-mail:</strong> <a href=\"mailto:hotel@hotelavanti.cz\">hotel@hotelavanti.cz</a></p></div><ul id=\"menu-bottom\"><li><a class=\"mnormal\" onmouseover=\"self.status='Ubytování Brno Hotely'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://ubytovani-brno.hotelavanti.cz/\">Ubytování Brno Hotely</a></li><li><a class=\"mnormal\" onmouseover=\"self.status='Konferenční prostory'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/konferencni-centrum/\">Konferenční prostory</a></li><li class=\"last\"><a class=\"mnormal\" onmouseover=\"self.status='Gastronomie, restaurace'; return true;\" onmouseout=\"self.status=''; return true;\" href=\"http://brno-hotel.hotelavanti.cz/gastronomie/\">Gastronomie, restaurace</a></li></ul>                 </div>                          </div>        </div>        </div>              <div id=\"mask-footer\">        <div id=\"mask-footer-content\">        <div id=\"mask-cofinancing\"><table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\"> <tbody>  <tr>    <td width=\"230\"><img alt=\"Logo ČR\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-cz-small.gif\"> <a href=\"http://www.strukturalni-fondy.cz/\" target=\"_blank\"><img border=\"0\" alt=\"Logo EU\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-eu-small.gif\"></a> <a href=\"http://www.kr-jihomoravsky.cz/\" target=\"_blank\"><img border=\"0\" alt=\"Logo Jihomoravský kraj\" src=\"http://brno-hotel.hotelavanti.cz/picture/mask/logo-jm-kraj-small.gif\"></a> </td>    <td>Spolufinancovánom Evropskou unií    <br>a Jihomoravským krajem </td>    <td width=\"260\"><img border=\"0\" alt=\"eu projekt\" src=\"http://brno-hotel.hotelavanti.cz/picture/articles/loga/eu-projekt.gif\"></td>  </tr></tbody></table></div><br class=\"cleaner\"><span class=\"powered-by-text-all\">Provozováno na <a href=\"http://www.magnetpro.cz/\" class=\"powered-by-link\" target=\"_blank\" title=\"MagnetPro - stránky, které prodávají\"><span class=\"powered-by-text-magnet\">m@gnet</span><span class=\"powered-by-text-pro\">pro</span></a></span><br class=\"cleaner\"><div id=\"mask-bottom-links\"><a href=\"http://brno-hotel.hotelavanti.cz/pro-partnery/\" title=\"\">Pro partnery</a> | <a href=\"http://brno-hotel.hotelavanti.cz/katalog-firem/\" title=\"\">Katalog firem</a> | <a href=\"http://www.alkatravel.cz/\" title=\"Chaty a chalupy k pronajmutí\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Chaty a chalupy</a> <a href=\"http://www.rajpradla.cz/plavky\" title=\"Plavky\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Plavky</a> <a href=\"http://www.aba-pneu.cz\" title=\"Pneumatiky ABA\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Pneumatiky ABA</a> <a href=\"http://www.fitness.cz/\" title=\"Posilovací stroje\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Posilovací stroje</a> <a href=\"http://www.fragment.cz/\" title=\"Knihkupectví\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Knihkupectví</a> <a href=\"http://www.rh-centrum.cz/\" title=\"Byty na prodej\" onclick=\"window.open(this.href,'','resizable=yes,location=no,menubar=yes,scrollbars=yes,status=no,toolbar=yes,fullscreen=no,dependent=no,status'); return false;\">Byty na prodej</a> </div>        <div id=\"hotel-socials\">            <a href=\"http://www.facebook.com/hotelavanti\" id=\"hotel-facebook\" target=\"_blank\"><span>Facebook - Hotel Avanti</span></a>            <a href=\"http://foursquare.com/v/avanti-hotel-brno/4bcc5d40aeaaeee1eeee3d6d\" id=\"hotel-foursquare\" target=\"_blank\"><span>Foursquare - Hotel Avanti</span></a>            <a href=\"http://www.tripadvisor.com/Hotel_Review-g274714-d634401-Reviews-Avanti_Hotel-Brno_South_Moravian_Region_Moravia.html\" id=\"hotel-tripadvisor\" target=\"_blank\"><span>Tripadvisor - Hotel Avanti</span></a>        </div>        <a href=\"http://www.ahrcr.cz/\" title=\"Asociace hotelů a restaurací České republiky\" id=\"logo-ahcr\" target=\"_blank\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-ahcr.gif\" alt=\"Asociace hotelů a restaurací České republiky\"></a>    <a href=\"http://www.payu.cz/\" title=\"PayU - bezpečné a rychhhlé platby\" id=\"logo-payu\" target=\"_blank\"><img src=\"http://brno-hotel.hotelavanti.cz/skins/default/picture/logo-payu.png\" alt=\"PayU - bezpečné a rychhhlé platby\"></a>        </div>            </div>        <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/i18n/jquery.ui.datepicker-cs.js\"></script>    <script type='text/javascript' src='http://brno-hotel.hotelavanti.cz/js/_compiled_tail_libs.js?version=1'></script>        <!-- Start of Zopim Live Chat Script -->    <!--script type=\"text/javascript\">    // <![CDATA[    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=    z.s=d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o    ){z.set._.push(o)};$.setAttribute('charset','utf-8');$.async=!0;z.set.    _=[];$.src=('https:'==d.location.protocol?'https://ssl':'http://cdn')+    '.zopim.com/?003CPh1AKcEC8wJZ65dSUr9LLt1Vx3iV';$.type='text/java'+s;z.    t=+new Date;z._=[];e.parentNode.insertBefore($,e)})(document,'script')    // ]]>    </script-->    <!-- End of Zopim Live Chat Script -->        <div id=\"mask-statistic\"><script src=\"http://brno-hotel.hotelavanti.cz/sys.php?action=stat_js_prg\" type=\"text/javascript\"></script>    ", 
        "hash": "/family-balicek", 
        "containers": {
                "div .top#menu": [
                    {"partial": "/odata-apiary-demo/static/core/partials/menu/menu.html", 
                    "refresh": true, 
                    "initialData": {"rootID": "50c06f70b16ddc1997053219"}, 
                    "dependencies": [], 
                    "renderCondition": "true", 
                    "id": "c1"}
                ],"#mask-article": [
                    {"partial": "/odata-apiary-demo/static/core/partials/article/article.html", 
                    "refresh": true, 
                    "initialData": {"articleID": "50c06f70b16ddc1997055222"}, 
                    "dependencies": [], 
                    "renderCondition": "true", 
                    "id": "c2"}
                ]
            }
        }]
    }
}


-- Categories requests --

Vrátí vsechny kategorie
GET /_/rest/v1/Content/Category
< 200
< Content-Type: application/json
{ "d": {
    "results": [
            {
            "__metadata": { 
                "uri": "/v1/category(50c06f70b16ddc1997053222)"
             },
            "id": "50c06f70b16ddc1997053222",
            "name": "O HOTELU",
            "parents": [{
                "id":"50c06f70b16ddc1997053222",
                "__deferred": { 
                    "uri": "/_/rest/v1/Content/Category(50c06f70b16ddc1997053222)"
                } 
                }],
            "parentsPath": [[{
                "id":"50c06f70b16ddc1997053222",
                "__deferred": { 
                    "uri": "/_/rest/v1/Content/Category(50c06f70b16ddc1997053222)"
                } 
                }]],
            "url": "/o-hotelu"
            },
            {
            "__metadata": { 
                "uri": "/v1/category(50c06f70b16ddc1997053223)"
             },
            "id": "50c06f70b16ddc1997053223",
            "name": "NABÍDKA HOTELU",
            "parents": [{
                "id":"50c06f70b16ddc1997053222",
                "__deferred": { 
                    "uri": "/_/rest/v1/Content/Category(50c06f70b16ddc1997053222)"
                } 
                }],
            "parentsPath": [[{
                "id":"50c06f70b16ddc1997053222",
                "__deferred": { 
                    "uri": "/_/rest/v1/Content/Category(50c06f70b16ddc1997053222)"
                } 
                }]],
            "url": "/nabidka-hotelu"
            },
            {
            "__metadata": { 
                "uri": "/v1/category(50c06f70b16ddc1997053224)"
             },
            "id": "50c06f70b16ddc1997053224",
            "name": "FOTOGALERIE",
            "parents": [{
                "id":"50c06f70b16ddc1997053222",
                "__deferred": { 
                    "uri": "/_/rest/v1/Content/Category(50c06f70b16ddc1997053222)"
                } 
                }],
            "parentsPath": [[{
                "id":"50c06f70b16ddc1997053222",
                "__deferred": { 
                    "uri": "/_/rest/v1/Content/Category(50c06f70b16ddc1997053222)"
                } 
                }]],
            "url": "/fotogalerie"
            },
            {
            "__metadata": { 
                "uri": "/v1/category(50c06f70b16ddc1997053225)"
             },
            "id": "50c06f70b16ddc1997053225",
            "name": "KONTAKT",
            "parents": [{
                "id":"50c06f70b16ddc1997053222",
                "__deferred": { 
                    "uri": "/_/rest/v1/Content/Category(50c06f70b16ddc1997053222)"
                } 
                }],
            "parentsPath": [[{
                "id":"50c06f70b16ddc1997053222",
                "__deferred": { 
                    "uri": "/_/rest/v1/Content/Category(50c06f70b16ddc1997053222)"
                } 
                }]],
            "url": "/kontakt"
            }
        ]
    }
}

-- Articles requests --

Vrátí uvodni clanek
//datetime.datetime(2009, 11, 10, 10, 45)
GET /_/rest/v1/Content/Article(50c06f70b16ddc1997055219)
< 200
< Content-Type: application/json
{ "d": {
    "results": [
            {
            "__metadata": { 
                "uri": "/v1/article(50c06f70b16ddc1997055219)"
             },
            "id": "50c06f70b16ddc1997055219",
            "title": "Hotel Avanti",
            "desc": "",
[...]
